.colorbox {
  width: 200px;
  height: 200px;
}

/* .green {
  width: 200px;
  height: 200px;
  background-color: #32a852;
}

.blue {
  width: 200px;
  height: 200px;
  background-color: #3267a8;
}
.magenta {
  width: 200px;
  height: 200px;
  background-color: #9232a8;
}
.hotpurple {
  width: 200px;
  height: 200px;
  background-color: #a8327b;
}
.lightbrown {
  width: 200px;
  height: 200px;
  background-color: #a87b32;
}
.brown {
  width: 200px;
  height: 200px;
  background-color: #a85132;
}
.mattblue {
  width: 200px;
  height: 200px;
  background-color: #3287a8;
}
.darkred {
  width: 200px;
  height: 200px;
  background-color: #a83253;
}
.grassgreen {
  width: 200px;
  height: 200px;
  background-color: #9ca832;
}
.lightgrass {
  width: 200px;
  height: 200px;
  background-color: #a2a832;
}
.lightteal {
  width: 200px;
  height: 200px;
  background-color: #32a894;
}
.hotred {
  width: 200px;
  height: 200px;
  background-color: #a83232;
}

.lightmagenta {
  width: 200px;
  height: 200px;
  background-color: #a83283;
}
.darkpurple {
  width: 200px;
  height: 200px;
  background-color: #3432a8;
} */
